{% extends 'base.html' %}
{% load static %}

{%block head %}
<title>Login</title>
<link href="{%static 'login.css' %}" rel="stylesheet" />

    {# Custom Phone number input #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

{% endblock %}

{%block content%}
{% include 'messages.html' %}
<main>
    <div><h2 class="active">Login</h2><h2><a href="{% url 'Home:register' %}">Register</a></h2></div>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <label for="contact"><span>Mobile Number</span><input type="tel" name="contact" required autofocus="autofocus" autocomplete="phoneInput"></label>
        <label for="password"><span>Password</span><input type="password" name="password" required></label>
        <label for="otp" class="hidden"><span>OTP</span><input type="number" name="otp" required></label>
        <div>

        <input type="submit" value="Login" disabled>
        {# TODO: Add forgot password link#}
        <a href="#">Forgot password?</a>
        </div>
    </form>
</main>
{%endblock%}
{% block scripts %}
    <script>
    const phoneInputField = document.querySelector("input[type=tel]");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",

    });
    </script>
{% endblock %}
