<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS Link------>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="{% static 'registration.css' %}">

    <title>User Registration</title>

</head>

<body>
    <header>
        <div class="py-5 text-center" style="font-family:'Lobster',cursive; color: black;">
            <h2>USER REGISTRATION</h2>
        </div>
    </header>

    <div class=" container body-container">
            <main>
                <div class="container row" style="margin-top: 50px;">
                    <div class="col-md-7 col-lg-8 mx-auto">
                        <h4 class="mb-3" style="color: black;">Please Enter Your Credentials</h4>
                        <form action="{% url 'Home:login' %}" method="POST">
                            {% csrf_token %}
                            <div class="row g-3" style="margin-top: 30px;">
                                <div class="col-sm-6">
                                    <label for="firstName" class="form-label" style="color: black;">First name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="First Name"
                                        name="first_name" autocomplete="off">
                                    <span id="fn" class="text-danger" style="font-weight: 500;"></span>
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label" style="color: black;">Last name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                                        name="last_name" autocomplete="off">
                                    <span id="ln" class="text-danger" style="font-weight: 500;"></span>
                                </div>


                                <div class="col-12">
                                    <label for="email" class="form-label" style="color: black;">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="you@example.com"
                                        name="email" autocomplete="off">
                                    <span id="em" class="text-danger" style="font-weight: 500;"></span>
                                </div>
                                <div class="col-8">
                                    <label for="phone_number" class="form-label" style="color: black;">Phone Number</label>
                                    <input class="form-control" id="phone" placeholder="9292929292" name="phone_no"
                                        autocomplete="off">
                                    <span id="ph" class="text-danger" style="font-weight: 500;"></span>
                                </div>
                                <div class="col-12">
                                    <label for="password" class="form-label" style="color: black;">Password</label>
                                    <input name='password' type="password" class="form-control" id="password"
                                        placeholder="Password" autocomplete="off">
                                    <span id="pass" class="text-danger" style="font-weight: 500;"></span>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-outline-success w-100" name="submit" value="submit"
                                        type="submit">
                                        SUBMIT
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </main>


        </div>

        <!-- Bootstap Javascript Link----- - -- -- --->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>

        <script type="text/javascript">
            function validation() {
                var fname = document.getElementById('firstName').value;
                if (fname == "") {
                    document.getElementById('fn').innerHTML = "Please provide your first name !";
                    setTimeout(function () {
                        document.getElementById('fn').innerHTML = ""
                    }, 6000)
                    return false;
                }
                var lname = document.getElementById('lastName').value
                if (lname == "") {
                    document.getElementById('ln').innerHTML = "Please provide your Last name !";
                    setTimeout(function () {
                        document.getElementById('ln').innerHTML = ""
                    }, 6000)
                    return false;
                }
                var email = document.getElementById('email').value
                if (email == "") {
                    document.getElementById('em').innerHTML = "Please provide your Email ID !";
                    setTimeout(function () {
                        document.getElementById('em').innerHTML = ""
                    }, 6000)
                    return false;
                }
                var regx = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!regx.test(email)) {
                    document.getElementById('em').innerHTML = "Please provide valid Email ID !";
                    setTimeout(function () {
                        document.getElementById('em').innerHTML = ""
                    }, 6000)
                    return false;
                }
                var phone = document.getElementById('phone').value
                if (phone == "") {
                    document.getElementById('ph').innerHTML = "Please provide your Phone Number !";
                    setTimeout(function () {
                        document.getElementById('ph').innerHTML = ""
                    }, 6000)
                    return false;
                }
                var reg_ph = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
                if (!reg_ph.test(phone)) {
                    document.getElementById('ph').innerHTML = "Please provide valid Phone Number !";
                    setTimeout(function () {
                        document.getElementById('ph').innerHTML = "";
                    }, 6000)
                    return false;
                }
                var password = document.getElementById('password').value
                if (password == "") {
                    document.getElementById('pass').innerHTML = "Please provide your password !";
                    setTimeout(function () {
                        document.getElementById('pass').innerHTML = "";
                    }, 6000)
                    return false;
                }
                var reg_pass = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;
                if (!reg_pass.test(password)) {
                    document.getElementById('pass').innerHTML = "Please provide Strong password with special characters, numbers and alphabets in it !";
                    setTimeout(function () {
                        document.getElementById('pass').innerHTML = "";
                    }, 6000)
                    return false;
                }
            }
        </script>
</body>

</html>