body{
    background-image: url('abb.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    
}

    


.btn{
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
}


.form-control{
    font-size: 18px !important;
    border-radius: 6 !important;
    border-color: black;
    color: black !important;
    border-color: black;
    background: transparent !important;
    box-shadow: none !important;
}

input::placeholder{
    color: black !important;
}

.form-label{
    font-size: 20px !important;
}
.flexing{
    display: inline-flex;
}
